.title__ecommerce {
    color: #333;
    font-family: "Jost";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    margin: 30px 0;
}

.ecommerce__flex {
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    justify-content: space-between;
    gap: 30px;
}

.images__container {
    overflow-x: auto;
}

.category__wrapper {
    display: flex;
    flex-wrap: nowrap;
    /* Evita que se desplace a la siguiente línea */
    gap: 80px;
    /* Espacio entre las categorías */
}

.category__item {
    flex: 0 0 auto;
    /* Evita que las categorías se agranden */
    text-align: center;
    /* Centra el contenido dentro de cada categoría */
}


/* Ajusta según tus necesidades */

.images__container {
    overflow-x: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: nowrap;
    gap: 20px;
    width: 940px;
    /* Ajusta según tus necesidades */
}

.images__container img {
    max-width: 230px;
    /* Reduzca el ancho máximo de las imágenes */
    height: auto;
}

.category__item h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-size: 16px;
    height: 30px;
    margin-top: 8px;
}

.ecommerce__flex div:first-child {
    max-width: 300px;
}

.ecommerce__flex h5 {
    font-family: "Jost";
    font-size: 20px;
    margin: 10px 0;
}

.images__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.ecommerce__link {
    font-family: "Jost";
    font-size: 18px;
    margin-top: 2px;
    display: inline-block;
    text-decoration: none;
    line-height: 24px;
}

.ecommerce__link:hover {
    text-decoration: underline;
}