/* Carrito.css */
.cart-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-div {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.remove__item {
  background-color: #333;
  padding: 20px 20px;

  border-radius: 5px;
}

.product {
  border: 1px solid #d6d3d3;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #777;
}

.quantity-input {
  color: #333;

  margin-right: 10px;
  text-align: center;
}

.remove-icon {
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.carrito-total {
  align-self: flex-start;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 220px;
}

.fila {
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.carrito-precio-total {
  font-weight: bold;
  font-size: 20px;
}

.btn-pagar {
  background: #314d43;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 250px;
}
