/* acerca.css */

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.titulo {
    color: forestgreen;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.descripcion {
    margin-bottom: 40px;
    font-size: 17px;
}

.subtitulo {
    color: forestgreen;
    font-size: 2.4em;
    margin-bottom: 10px;
}

.lista-miembros {
    list-style-type: none;
    padding: 0;
}

.miembro {
    margin-bottom: 10px;
    font-size: 1.4em;
}