.container-pago {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
.card__pago {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__pago-container {
  width: 300px;
}
.price h1 {
  font-weight: 300;
  color: #18c2c0;
  letter-spacing: 2px;
}
.img-container {
  margin: 0 auto;
  max-width: 150px;
}
.img-container img {
  width: 100%;
}
.card__pago-container {
  display: flex;
  gap: 70px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

input[type="radio"]:checked ~ .radio {
  border: 3px solid #90e1e3;
  background-color: #18c2c0;
}
input[type="radio"]:checked ~ .radio::before {
  background-color: #fff;
}

.button button {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 520px;
  background-color: #18c2c0;
  border: none;
  color: #fff;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.button button:hover {
  background-color: #15aeac;
}
.button button:active {
  background-color: #139b99;
}
.button button i {
  font-size: 1.2rem;
  margin-right: 5px;
}
